<div class="login">
    <div class="content col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="login-area col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="logo-container col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="logo">
                    <img src="./assets/logos/logo.png" alt="LOGO">  
                </div>
                <div class="title">{{'login.title' | translate}}</div>
                <div class="slogan">
                    {{'login.slogan' | translate}}
                </div>
            </div>
            <div class="login-form col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <form [formGroup]="userLoginForm" (ngSubmit)="userLoginForm.valid && login()">
                    <div class="mb-3">
                      <label for="username" class="form-label">{{ 'login.form.user' | translate }}</label>
                      <input type="text" class="form-control" [placeholder]="'login.form.user-ph' | translate"
                        [ngClass]="{ 'is-invalid': userLoginForm.get('username')?.invalid && userLoginForm.get('username')?.touched}" formControlName="username" />
                      <div *ngIf="userLoginForm.get('username')?.invalid && userLoginForm.get('username')?.touched" class="invalid-feedback">
                        {{ 'form.validation.required' | translate }}
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">{{ 'login.form.password' | translate }}</label>
                      <input type="password" class="form-control" [placeholder]="'login.form.password-ph' | translate"
                        [ngClass]="{ 'is-invalid': userLoginForm.get('password')?.invalid && userLoginForm.get('username')?.touched}" formControlName="password" />
                      <div *ngIf="userLoginForm.get('password')?.invalid && userLoginForm.get('username')?.touched" class="invalid-feedback">
                        {{ 'form.validation.required' | translate }}
                      </div>
                    </div>
                    <button class="btn" type="submit">{{ 'login.form.submit' | translate }}</button>
                    <div class="captcha-container" [hidden]="hiddenCaptcha">
                      <re-captcha (resolved)="resolved($event)" siteKey="recaptchaSiteKey"></re-captcha>
                      <div class="g-recaptcha" data-sitekey="sitKey"></div>
                    </div>
                  </form>
                  
                <div class="form-actions">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a routerLink="/recovery">{{'login.recovery' | translate}}</a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" routerLink="/register">{{'login.register' | translate}}</a>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
