.new-asset-modal {
    form {
        padding: 10px;
    }
    .footer{
        display: flex;
        padding: 10px;
        justify-content: center;
        .btn {
            margin: 10px;
            color: white;
            width: 100px;
            background-color: #808B96;
        }
    }

}