<div class="header">
  <div class="header-container">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
      <nav class="col-3 navbar navbar-light nav" aria-label="logo">
        <a class="navbar-brand" href="#">
          <img src="./assets/logos/logo.png" alt="LOGO">
          <label class="title">TradingLab</label>
        </a>
      </nav>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-0 button-header-container">
      <i></i>
      <i></i>
      <em class="oi oi-menu"></em>
    </div>
  </div>
</div>
