<div class="header">
  <div class="header-container">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
      <nav class="col-3 navbar navbar-light nav" aria-label="logo">
        <a class="navbar-brand" (click)="goHome()">
          <img src="./assets/logos/logo.png" alt="LOGO">
          <label class="title">{{'header.app-name' | translate}}</label>
        </a>
      </nav>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-0 button-header-container">
      <div class="icon" (click)="goProfile()">
        <label>{{ userName }}</label>
        <i class="user bi bi-person-circle"></i>
      </div>
      <div class="icon" (click)="logout()">
        <label>{{'header.logout-lb' | translate}}</label>
        <i class="log-out bi bi-box-arrow-right"></i>
      </div>
      <div class="icon" (click)="swapMenu()">
        <i class="menu bi bi-list"></i>
      </div>
    </div>
  </div>
</div>
