<div class="row home">
    <div class="diary col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
        <h4>{{ 'pages.home.diary-title' | translate }}</h4>
        <ul>
            <div class="col-12">
                <hr class="col-12">
            </div>
            <li class="asset col-12">
                <div class="asset-container col-12">
                    <div class="col-3" ></div>
                    <div class="col-3" >{{ 'pages.home.diary.operations' | translate }}</div>
                    <div class="col-3" >{{ 'pages.home.diary.asset-balance' | translate }}</div>
                    <div class="col-3" ></div>
                </div>
                <div class="col-12">
                    <hr class="col-12">
                </div>
            </li>
            <li class="asset col-12" *ngFor="let asset of assetList">
                <div class="asset-container col-12" [ngClass]="{'benefit': asset.state === 1, 'loss': asset.state === 2}">
                    <div class="col-3" >{{ asset.name }}</div>
                    <div class="col-3" >{{ asset.operationCount }}</div>
                    <div class="col-3" >{{ asset.balanceAccount }}%</div>
                    <div class="col-3" >
                        <i class="bi bi-arrow-left-right" *ngIf="asset.state === 0"></i>
                        <i class="bi bi-hand-thumbs-up" *ngIf="asset.state === 1"></i>
                        <i class="bi bi-hand-thumbs-down" *ngIf="asset.state === 2"></i>
                    </div>
                </div>
                <div class="col-12">
                    <hr class="col-12">
                </div>
            </li>
        </ul>
        <div class="add-button">
            <button class="btn">
                <i class="bi bi-plus-circle"></i>
            </button>
        </div>
    </div>
    <div class="general-metrics col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h4>{{ 'pages.home.general-metrics-title' | translate }}</h4>
        <div class="general-datacard flex justify-content-center">
            <div class="data-container col-12">
                <div class="asset-data col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <label class="col-6">{{ 'pages.home.general-data.asks-lb' | translate }}</label>
                    <div>{{ generalAccountData.aksCount }}</div>
                </div>
                <div class="asset-data col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <label class="col-6">{{ 'pages.home.general-data.best-op' | translate }}</label>
                    <div class="col-6">{{ generalAccountData.bestOperation }} {{currency}}</div>
                </div>
                <div class="asset-data col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <label class="col-6">{{ 'pages.home.general-data.bids-lb' | translate }}</label>
                    <div class="col-6">{{ generalAccountData.bidsCount }}</div>
                </div>
                <div class="asset-data col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <label class="col-6">{{ 'pages.home.general-data.worse-op' | translate }}</label>
                    <div class="col-6">{{ generalAccountData.worseOperation }} {{currency}}</div>
                </div>
                <div class="asset-data col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <label class="col-6">{{ 'pages.home.general-data.win-ratio-lb' | translate }}</label>
                    <div class="col-6">{{ generalAccountData.winRatio }} %</div>
                </div>
                <div class="asset-data col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <label class="col-6">{{ 'pages.home.general-data.max-drawdown' | translate }}</label>
                    <div class="col-6">{{ generalAccountData.maxDrawdown }} %</div>
                </div>
                <div class="asset-data col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <label class="col-6">{{ 'pages.home.general-data.r-average-lb' | translate }}</label>
                    <div class="col-6">{{ generalAccountData.rAverage }} R</div>
                </div>
                <div class="asset-data col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <label class="col-6">{{ 'pages.home.general-data.media-risk' | translate }}</label>
                    <div class="col-6">{{ generalAccountData.risk }} %</div>
                </div>
            </div>
            <div class="charts-container col-12">
                <div class="doughnut-chart col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <canvas baseChart
                        [type]="'doughnut'"
                        [data]="doughnutData">
                    </canvas>
                </div>
                <div class="line-chart col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <canvas baseChart
                        [type]="'line'"
                        [data]="lineData">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>