<div class="recovery" >
    <div *ngIf="!displayMsg">
        <div class="recovery-title col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h2>{{'recovery.title' | translate}}</h2>
        </div>
        <div class="recovery-container col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <form name="form" (ngSubmit)="f.form.valid && register()" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" #f="ngForm" novalidate>
                <div class="field col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                    <label for="name" class="form-label col-12">{{'recovery.form.name' | translate}}</label>
                    <input type="text" class="form-control col-12" [ngClass]="{ 'is-invalid': f.submitted && !name.valid }" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                    <div *ngIf="f.submitted && !name.valid" class="invalid-feedback">{{'form.validation.required' | translate}}</div>
                </div>
                <div class="footer col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <button class="btn">{{'recovery.form.submit' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="displayMsg" class="row recovery-msg col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div>
            <i class="send bi bi-send"></i>
            <h4>{{'recovery.send-email-msg' | translate}}</h4>
        </div>
        <button class="btn" (click)="goBack()">{{'recovery.back-btn' | translate}}</button>
    </div>
</div>


